.menu {
  &__icon {
  display: none;
}

&__list > li {
  position: relative;
  margin: 0 0 0 20px;
  list-style: none;
}

&__link {
  color: #fff;
  font-style: 18px;
  text-decoration: none;
}
&__link:hover {
  text-decoration: underline;
}

@media (min-width: 767px) {
  &__list {
    display: flex;
    align-items: center;
  }
  &__list > li {
    padding: 10px 0;
  }
}
//------menu-burger------------
.menu__icon {
    //display: none;
    @media (max-width: 767.98px) {
      cursor: pointer;
      top: 56px;
      right: 26px;
      position: fixed;
      display: block;
      width: 33px;
      height: 3.84px;
      z-index: 3;
      padding: 10px;
      &::before,
      &::after {
        content: "";
        background-color: #000000;
        position: absolute;
        width: 100%;
        height: 3px;
        transition: all 0.3s ease 0s;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      span {
        position: absolute;
        background-color: #000000;
        width: 100%;
        height: 3px;
        transition: all 0.3s ease 0s;
      }
      & span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
      }
    
      &._active span {
        transform: scale(0) translate(0px, -50%);
      }
      &._active::before {
        top: 50%;
        transform: rotate(45deg) translate(0px, -50%);
      }
      &._active::after {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
      }
    }
  }

//-----------------
@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.759);
    padding: 60px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    transform: translate(-100%, 0);
  }
  ._active {
    transform: translate(0, 0);
  }
  .menu__list > li:not(:last-child) {
    margin-bottom: 30px;
  }
  .menu__link {
    font-size: 24px;
  }
}}