@media (min-width: 767.98px) {
  .header {
    background-color: #fff;
  }
  .header__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .menu {
    border-bottom: 1px solid #828282;
  }
  .header .menu__list {
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .menu__link {
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    font-family: "Gilroy-bold";
  }
  .header .menu__link:hover {
    cursor: pointer;
    color: #070707;
  }
}
