.header {
  @media (min-width: 767.98px) {
    background-color: #fff;

    // .header__body
    &__items {
      display: flex;
    }

    .menu {
      border-bottom: 1px solid #828282;
      // .menu__list

      &__list {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
      }
      // .menu__about

      &__link {
        font-size: 18px;
        line-height: 22px;
        color: #828282;
        font-family: "Gilroy-bold";
        &:hover {
          cursor: pointer;
          color: #070707;
        }
      }
    }
  }
}
